<%= form_for(@user, remote: @is_remote) do |f| %>
	<% if @user.errors.any? %>
	<div id="error_explanation" class="row">
		<h2><%= pluralize(@user.errors.count, "error") %> prohibited this action:</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
				<% end %>
			</ul>
	</div>
	<% end %>

	<div class="row">
		<div class="small-3 columns">
			<%= f.label :username %>
		</div>
		<div class="small-3 columns">
			<%= f.text_field :username, disabled: f.object.id ? true : false %>
		</div>
		<div class="small-3 columns">
		</div>
	</div>
	
	<div class="row">
		<div class="small-3 columns">
			<%= f.label :email %>
		</div>
		<div class="small-3 columns">
			<%= f.text_field :email %>
		</div>
		<div class="small-3 columns">
		</div>
	</div>
	
	<% password_fields_hidden = "" %>
	<% if f.object.id %>
		<% password_fields_hidden = "display:none;" %>
	<% end %>
	<div class="password_fields" style="<%=password_fields_hidden%>">
		<div class="row">
			<div class="small-3 columns">
				<%= f.label :password %>
			</div>
			<div class="small-3 columns user_password">
				<%= f.password_field :password %>
			</div>
			<div class="small-3 columns">
			</div>
		</div>
		
		<div class="row">
			<div class="small-3 columns">
				<%= f.label :password_confirmation, "Password confirmation" %>
			</div>
			<div class="small-3 columns user_password_confirmation">
				<%= f.password_field :password_confirmation %>
			</div>
			<div class="small-3 columns">
			</div>
		</div>
	</div>
	
	<% if f.object.id %>
		<%= link_to "Toggle Password Fields", "#", id: "change_password_button", class: "button secondary tiny" %>
	<% end %>
	
	</br></br>
	
	<div class="row">
		<div class="small-3 columns">
			<% if f.object.id %>
				<%= f.submit "Save", class: "button", id: "save_profile_button" %>
			<% else %>
				<%= f.submit "Register", class: "button" %>
			<% end %>
		</div>
		<div class="small-3 columns">
			<% if @is_remote %>
				<%= link_to "Cancel", "#", id: "cancel_button", class: "button" %>
			<% end %>
		</div>
		<div class="small-3 columns">
		</div>
	</div>
	<% end %>
