<div class="row">
	<div class="small-3 columns">
		Username
	</div>
	<div class="small-3 columns user_username">
		<%= @user.username %>
	</div>
	<div class="small-3 columns">
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		Email
	</div>
	<div class="small-3 columns user_email">
		<%= @user.email %>
	</div>
	<div class="small-3 columns">
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		First name
	</div>
	<div class="small-3 columns user_first_name">
		<%= @user.first_name %>
	</div>
	<div class="small-3 columns">
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		Last name
	</div>
	<div class="small-3 columns user_last_name">
		<%= @user.last_name %>
	</div>
	<div class="small-3 columns">
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		Caption
	</div>
	<div class="small-9 columns user_caption">
		<%= @user.caption %>
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		About me
	</div>
	<div class="small-9 columns user_about_me">
		<%= @user.about_me %>
	</div>
</div>

</br></br></br></br></br></br></br></br></br>

<div class="row centered">
	<%= link_to 'Edit Profile', edit_user_path(@user), class: "button", id: "edit_profile_button" %>
</div>