<div class="facebox_title" style="background: #444444; width: 450px;">
	Search
</div>

</br>

<%= form_tag "search_users", method: 'get', remote: true, id: "search_users_form" do %>
	<%= hidden_field_tag :id, user_id %>
	<div class="row">
		<div class="small-2 columns">
			<%= label_tag :search, "Username" %>
		</div>
		<div class="small-5 columns">
			<%= text_field_tag :search, params[:search] %>
		</div>
		<div class="small-3 columns">
			<%= submit_tag "Search", name: nil, class: "button tiny" %>
		</div>
		<div class="small-3 columns">
		</div>
	</div>
<% end %>

<div class="facebox_title" style="background: #444444; width: 450px;">
	Results
</div>

</br>

</br>

<div class="row users_table">
	No results.
</div>