<% title "Grammatica - #{@current_user.username}" %>

<div class="row">
	<div class="left-nav-top-bar">
		<h1 class="nav_top_title"></h1>
	</div>
	<div class="left-nav">
		<div class="left-nav-title">
			Menu
		</div>
		
		<div class="left-nav-list-area">
			<ul class="left-nav-list">
				<li><%= link_to "My Profile", "#", id: "nav_my_profile" %></li>
				<li><%= link_to "My Friends", "#", id: "nav_my_friends" %></li>
				<li><%= link_to "My Badges", "#", id: "nav_my_badges" %></li>
				<li><%= link_to "Settings", "#", id: "nav_settings" %></li>
			</ul>
		</div>
	</div>
	<div class="main-section">
		
		</br></br>

		<div class="content show_profile" style="display:none;">
			<%= render 'user_details' %>
		</div>
		
		<div class="content edit_profile" style="display:none;">
			<%= render 'form' %>
		</div>
		
		<div class="content my_friends" style="display:none;">
			<%= render 'user_friends/my_friends' %>
		</div>
		
		<div class="content my_badges" style="display:none;">
			<%= render 'user_badges/my_badges' %>
		</div>
		
		<div class="content settings" style="display:none;">
			<%= render 'settings/form' %>
		</div>

	</div>
</div>

<div class="row">
	<%= link_to 'Back', root_path, class: "button tiny secondary" %>
</div>
