</br>
<div class="row">
	<h3>
		<%= @user.username.titlecase.possessive + " Profile" %>
	</h3>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		Joined on:
	</div>
	<div class="small-3 columns">
		<%= @user.created_at.strftime("%d/%m/%Y") %>
	</div>
	<div class="small-3 columns">
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		First name
	</div>
	<div class="small-3 columns user_first_name">
		<%= @user.first_name %>
	</div>
	<div class="small-3 columns">
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		Last name
	</div>
	<div class="small-3 columns user_last_name">
		<%= @user.last_name %>
	</div>
	<div class="small-3 columns">
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		Caption
	</div>
	<div class="small-9 columns user_caption">
		<%= @user.caption %>
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		About me
	</div>
	<div class="small-9 columns user_about_me">
		<%= @user.about_me %>
	</div>
</div>

</br></br></br></br></br></br>

<% if @current_user.is_friends_with(@user) %>
	<div class="row">
		<%= link_to "Unfriend", user_friends_remove_friend_path(friend_id: @user.id), class: "button secondary tiny" %>
	</div>
<% end %>





