</br>
<div class="row">
	<h3>
		<%= @friend.username.titlecase.possessive + " Profile" %>
	</h3>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		Joined on:
	</div>
	<div class="small-3 columns">
		<%= @friend.created_at.strftime("%d/%m/%Y") %>
	</div>
	<div class="small-3 columns">
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		First name
	</div>
	<div class="small-3 columns user_first_name">
		<%= @friend.first_name %>
	</div>
	<div class="small-3 columns">
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		Last name
	</div>
	<div class="small-3 columns user_last_name">
		<%= @friend.last_name %>
	</div>
	<div class="small-3 columns">
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		Caption
	</div>
	<div class="small-9 columns user_caption">
		<%= @friend.caption %>
	</div>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		About me
	</div>
	<div class="small-9 columns user_about_me">
		<%= @friend.about_me %>
	</div>
</div>