<% title "Monopoly Banking" %>

<div id="giraffe">
	<%= image_tag "drawing2.svg", id: "giraffe_image" %>
</div>

<div id="homepage-hero">
	</br></br></br></br></br></br></br>
	<div class="row">
		<div class="small-5 columns test">
			<div class="row">
				<h1>Mopoly Banking</h1>
			</div>
			<div class="row">
				<h3 id="skinny">Move monopoly into the 22nd century with monopoly banking!</h3>
			</div>
			</br>
			<div class="row">
				<div class="small-2 columns">
					<%= link_to "Register", new_user_path, class: "button" %>
				</div>
				<div class="small-2 columns">
				</div>
			</div>
		</div>
	</div>
</div>


<div id="hero-footer">

</div>

<div class="row">
	<h3 class="centered small-bottom-margin">Some interesting piece of information would go here explaining what the site does</h3>
</div>
<div class="row">
	<h2 class="centered"><small>Some other witty remark would probably go here</small></h2>
</div>

</br></br>

<div class="row">
	<div class="small-4 columns centered">
		<div class="row">
		<%= image_tag "world_icon.png" %>
		</div>
		<div class="row content">
			<h2 class="centered"><small>Cool stuff</small></h2>
		</div>
		<div class="row content">
		Feature one is awesome because I made it. These are the details of this feature, and this thing that you are reading is the details of this feature.
		</div>
	</div>
	
	<div class="small-4 columns centered">
		<div class="row">
		<%= image_tag "people_icon.png" %>
		</div>
		<div class="row content">
			<h2 class="centered"><small>Cool Features</small></h2>
		</div>
		<div class="row content">
		This is feature two which is equally as awesome as feature one. I'm going to play up the feature so that you can't resist but register.
		</div>
	</div>
	
	<div class="small-4 columns centered">
		<div class="row">
		<%= image_tag "computer_icon.png" %>
		</div>
		<div class="row content">
			<h2 class="centered"><small>Cool Things</small></h2>
		</div>
		<div class="row content">
		I'm running out of features to talk about now, so here's something that's kind of cool I guess. I'm not sure why I'm still writing this, I should just use lorem ipsum.
		</div>
	</div>
</div>

</br>

<div class="row">
  <div class="small-12 centered columns"><%= link_to "Learn more about Mopoly Banking Features →", "#" %></div>
</div>

</br>

<div class="row">
<hr>
</div>

</br></br></br></br></br></br></br></br></br></br></br></br>
