<nav class="top-bar" data-topbar>
	<ul class="title-area">
		<li class="name">
			<h1 id="skinny"><%= link_to "Grammatica", root_url %></h1>
		</li>
	</ul>

	<section class="top-bar-section">
		<ul class="right">
			<% if current_user %>
			<li class="active">
				<%= link_to "My Profile", user_path(current_user) %>
			</li>
			<li class="active">
				<%= link_to "Log out", logout_path %>
			</li>

			<li id="notifications_link_bg">
				<% if num_new_notifications > 0 %>
					<% image = '/assets/folder_doc_icon.png' %>
				<% else %>
					<% image = '/assets/folder_empty_icon.png' %>
				<% end %>
				<a id="notifications_link" style="background-image:url(<%=image%>);"></a>
			</li>
			<% else %>
			<li class="active">
				<%= link_to "Register", new_user_path %>
			</li>
			<li class="active">
				<%= link_to "Log in", login_path %>
			</li>
			<% end %>
		</ul>
	</section>
</nav>
